{% extends "base.html" %}

{% load i18n %}

{% block col_left %}
    
    <div class="richtemplates-panel">
        <h5>{% if profile.is_team %}{% trans "Team" %}{% else %}{% trans "User" %}{% endif %}: {{ request.user }}</h5>
	    <div class="richtemplates-panel-content">
            {% if user == profile.user %}
			<ul class="nav-vertical">
                <li><a href="{% url projector_users_profile_detail profile.user.username %}">{% trans "Show your public profile" %}</a></li>
                <li><a href="{% url projector_dashboard %}">{% trans "Dashboard" %}</a></li>
            </ul>
            {% endif %}
	    </div>
	</div>

{% endblock %}

{% block col_main %}
<div class="richtemplates-panel">
    <h5>
    {% if profile.is_team %}
        {% trans "Team profile" %}
    {% else %}
        {% trans "User profile" %}
    {% endif %}
    </h5>
    <div class="richtemplates-panel-content">
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% if profile.is_team %}{% trans "Team" %}{% else %}{% trans "User" %}{% endif %}</th>
                        <td>{{ profile.user.username }}</td>
                    </tr>
                    {% if not profile.is_team %}
                    <tr>
                        <th>{% trans "Full name" %}</th>
                        <td>{{ profile.user.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ profile.user.email }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="richtabs">
            <ul>
                <li><a href="#projects"><span>{% trans "Projects" %}</span></a></li>
                <li><a href="#teams">{% trans "Teams" %}</a></li>
            </ul>
        
            <div id="projects">
                <h3>{% trans "Member of projects" %}</h3>
                <table class="datatable">
                    <thead class="datatable-thead">
                        <tr class="datatable-thead-subheader">
                            <th>{% trans "Project" %}</th>
                            <th>{% trans "Category" %}</th>
                        </tr>
                    </thead>
                    <tbody class="datatable-tbody">
                        {% for project in project_list %}
                        <tr class="{% cycle "odd" "even" %} hoverable">
                            <td><a class="block-link" href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                            <td>{{ project.category|default:"-" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="teams">
                <h3>{% trans "Member of teams" %}</h3>
                <table class="datatable">
                    <thead class="datatable-thead">
                        <tr class="datatable-thead-subheader">
                            <th>{% trans "Team" %}</th>
                        </tr>
                    </thead>
                    <tbody class="datatable-tbody">
                        {% for team in teams %}
                        <tr class="{% cycle "odd" "even" %} hoverable">
                            <td><a class="block-link" href="#">{{ team.group }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}

