include README.rst 
include INSTALL.rst
include LICENSE
include MANIFEST.in
include ez_setup.py
include requirements.txt
include tests.py

include docs/conf.py
include docs/make.bat
include docs/Makefile
recursive-include docs *.rst *.png
recursive-include docs/theme *

recursive-include example_project *.py *.html

recursive-include projector *.py *.png *.gif *.html *.json
recursive-include projector/locale *.mo *.po
