include README.rst 
include INSTALL.rst
include LICENSE
include MANIFEST.in
include ez_setup.py
recursive-include docs *
recursive-include projector/locale *
recursive-include projector/media *
recursive-include projector/templates *
