{% extends "projector/project/components/home.html" %}

{% load markup %}
{% load i18n %}
{% load permissions %}

{% block col_main_title %}{{ project.name }}{% endblock %}

{% block col_main_extra %}
<div class="richtemplates-panel">    
    <h5>{% trans "Component detail" %}</h5>
    <div class="richtemplates-panel-content">
        {% block components_menu %}{{ block.super }}{% endblock %}
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ component.name }}</td>
                    </tr>
                </tbody>
            </table>
            <h2>{% trans "Description" %}:</h2>
            <div class="block-rst">
                {% if component.description %}
                {{ component.description|restructuredtext }}
                {% else %}
                <ul class="messages">
                    <li class="message message-warning">{% trans "No description has been set" %}</li>
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock col_main_extra %}

