{% extends "projector/project/details.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load permissions %}

{% block col_main_extra %}

{% autosort memberships %}
{% autopaginate memberships %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's members" %}</h5>
    <div class="richtemplates-panel-content">
    {% block members_menu %}
    <ul class="nav-inline">
        <li class="richbuttonset">
            <a  class="button-link"href="{{ project.get_members_url }}">{% trans "Members" %}</a>
            {% ifhasperm "project_permission.add_member_project" request.user project %}
            <a  class="button-link"href="{{ project.get_members_add_url }}">{% trans "Add new member" %}</a>
            {% endifhasperm %}
        </li>
    </ul>
    {% endblock %}
    <table class="datatable">
        <thead class="datatable-thead">
            <tr class="datatable-thead-subheader">
                <th>{% anchor member "Username" %}</th>
                <th>{% anchor created_at "Joined at" %}</th>
                <th>{% trans "Permissions" %}</th>
            </tr>
        </thead>
        <tbody class="datatable-tbody">
            {% for membership in memberships %}
            <tr class="{% cycle "odd" "even" %} hoverable">
                <td><a class="block-link" href="{{ membership.member.get_absolute_url }}">{{ membership.member }}</a></td>
                <td>{{ membership.joined_at }}</td>
                <td>
                    {% if project.author == membership.member %}
                    {% trans "Owner has all permissions" %}
                    {% else %}
                    <a class="block-link" href="{{ membership.get_absolute_url }}">{% trans "Manage" %}</a></td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}

</div>
</div>
{% endblock %}

