{% extends "projector/project/details.html" %}

{% load i18n %}
{% load richtemplates_tags %}
{% load native %}

{% block col_left %}{{ block.super }}
<div class="richtemplates-panel">
    <h5>{% trans "Node's information" %}</h5>
    <div class="richtemplates-panel-content">
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% trans "Path" %}</th>
                        <td><a class="show-tipsy"
                               href="{% url projector_project_sources_browse project.slug root.changeset.id root.path %}"
                               title="{% trans "Show node" %}">{{ root.path|default:"/" }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Revision" %}</th>
                        <td><a class="show-tipsy"
                               href="{% url projector_project_sources_browse project.slug root.changeset.id '' %}"
                               title="{% trans "Show changeset" %}">{{ root.changeset.revision }}:{{ root.changeset.raw_id }}</a></td>
                    </tr>
                    {% if root.is_file %}
                    <tr>
                        <th>{% trans "Size" %}</th>
                        <td>{% if root.is_file %}{{ root.size|filesizeformat }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last committer" %}</th>
                        <td>{{ root.last_changeset.author|tooltip:"20" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last modified" %}</th>
                        <td><span class="show-tipsy" title="{{ root.last_changeset.date }}">{{ root.last_changeset.date|timesince }}</span></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if root.is_file %}
            <h2>{% trans "History" %}</h2>
            <ul class="nav-vertical">
                {% for changeset in root.history %}
                <li>
                    <a href="{% url projector_project_file_diff project.slug root.changeset.id changeset.id root.path %}"
                       class="show-tipsy"
                       title="{% trans "Show diff" %}">{{ changeset.revision }}:{{ changeset.id }}</a>
                    <span class="show-tipsy" title="{{ changeset.date }}">{{ changeset.date|timesince }}</span>
                    {% trans "ago" %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block col_main_extra %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's repository browser" %}</h5>
    <div class="richtemplates-panel-content">
    <ul class="nav-inline">
        <li><a class="button-link" href="{{ project.get_browse_repo_url }}">{% trans "Sources" %}</a></li>
        <li><a class="button-link" href="{{ project.get_changesets_url }}">{% trans "Changesets" %}</a></li>
    </ul>    
    {% block browse_content %}
    <div id="repo-browser">
        {% load breadcrumber %}
        <div class="browser-breadcrumbs">
            {% path_breadcrumbs request.META.PATH_INFO 3 %}
        </div>

        {% if changeset %}
        <ul class="messages">
            <li class="message message-info">
                {% trans "Committed by" %} {{ changeset.author }}
                <span class="show-tipsy" title="{{ changeset.date }}">{{ changeset.date|timesince }}</span>
                {% trans "ago" %}<br/><br/>
                {{ changeset.message }}
            </li>
        </ul>
        {% endif %}
        
        {% if root.is_dir %}
        <table class="code-browser">
            <thead>
                <tr>
                    <th class="width-50 lefted">{% trans "Name" %}</th>
                    <th class="width-10 righted">{% trans "Size" %}</th>
                    <th class="width-10 righted">{% trans "Revision" %}</th>
                    <th class="width-15 righted">{% trans "Last modified" %}</th>
                    <th class="width-15 righted">{% trans "Last committer" %}</th>
                </tr>
            </thead>
            <tbody>

                {% if root.parent %}
                <tr class="even hoverable">
                    <td>
                        <a class="browser-dir"
                            href="{% url projector_project_sources_browse project.slug changeset.id root.parent.path %}">..</a>
                    </td>
                    <td class="righted"></td>
                    <td class="righted width-10"></td>
                    <td class="righted width-10">
                    </td>
                    <td class="righted width-10"></td>
                </tr>
                {% endif %}

                {% for node in root.nodes %}
                <tr class="{% cycle "odd" "even" %} hoverable">
                    <td>
                        <a class="{% if node.is_dir %}browser-dir{% else %}browser-file{% endif %}"
                           href="{% url projector_project_sources_browse project.slug node.changeset.id node.path %}"
                            >{{ node.name }}</a>
                    </td>
                    {% if node.is_dir %}
                    <td></td><td></td><td></td><td></td>
                    {% else %}
                    <td class="righted">{% if node.is_file %}{{ node.size|filesizeformat }}{% endif %}</td>
                    <td class="righted">
                        <a class="show-tipsy"
                           href="{% url projector_project_sources_browse project.slug node.last_changeset.id '' %}"
                           title="{% trans "Browse revision's content" %}"
                           >{{ node.last_changeset.revision }}</a>
                    </td>
                    <td class="righted">
                        <span class="show-tipsy"
                            title="{{ node.last_changeset.date|date:"Y-m-d" }} {{ node.last_changeset.date|date:"H:i:s" }}">
                        {{ node.last_changeset.date|timesince }} {% trans "ago" %}
                        </span>
                    </td>
                    <td class="righted">{{ node.last_changeset.author|tooltip:"20" }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if root.is_file %}
        <div class="codeblock">
            {% highlight root.content root.lexer_alias linenos=true anchorlinenos=true lineanchors=line cssclass="code-highlight" %}
        </div>
        {% endif %}
    </div>
    {% endblock %}
</div>
</div>

{% endblock %}
