{% extends "projector/project/repository/browse.html" %}

{% load i18n %}
{% load richtemplates_tags %}
{% load pagination_tags %}
{% load projector_tags %}

{% if root.is_file %}
    {% block head_css %}{{ block.super }}
    {% endblock %}
{% endif %}

{% block info_block %}
<div class="richtemplates-panel">
    <h5>{% trans "Node's information" %}</h5>
    <div class="richtemplates-panel-content">
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% trans "Changesets count" %}</th>
                        <td>{{ repository.revisions|length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block col_main_extra %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's repository browser" %}</h5>
    <div class="richtemplates-panel-content">
    {% block repository_menu %}{{ block.super }}{% endblock %}
    
    {% autopaginate repository CHANGESETS_PAGINATE_BY %}

    {% paginate %}

    <table class="datatable">
        <thead class="datatable-thead">
            <tr class="datatable-thead-subheader lefted">
                <th class="width-5">{% trans "Revision" %}</th>
                <th class="width-15">{% trans "Commited at" %}</th>
                <th class="width-10">{% trans "Author" %}</th>
                <th class="width-70">{% trans "Message" %}</th>
            </tr>
        </thead>
        <tbody class="datatable-tbody">
            {% for changeset in repository %}
            <tr class="{% cycle "odd" "even" %} hoverable">
                <td><a href="{% url projector_project_sources_browse project.slug changeset.id '' %}"
                       class="browser-changeset block-link show-tipsy-left"
                       title="{% trans "Browse revision's content" %}">{{ changeset.revision }}:{{ changeset.raw_id }}</a>
                </td>
                <td class="show-tipsy" title="{{ changeset.date }}">
                    {{ changeset.date|timesince }} {% trans "ago" %}
                </td>
                <td>
                    {% fetch_user changeset.author as "author" %}
                    {% if author %}
                    <a href="{{ author.get_absolute_url }}">{{ author.username|tooltip:"15" }}</a>
                    {% else %}
                    {{ changeset.author|tooltip:"15" }}
                    {% endif %}
                </td>
                <td>{{ changeset.message|tooltip:"90" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% paginate %}
</div>
</div>

{% endblock %}
