{% extends "projector/project/repository/browse.html" %}

{% load i18n %}
{% load native %}

{% block col_left %}
{% with file1 as root %}{{ block.super }}{% endwith %}
{% endblock %}

{% block browse_content %}
{% if diff_content %}
    <div class="codeblock">
        {% highlight diff_content diff linenos=true anchorlinenos=true lineanchors=line cssclass="code-highlight" %}
    </div>
{% else %}
    <ul class="messages">
        <li class="message message-warning">
            {% trans "No changes have been made between revisions" %}
            <a class="show-tipsy"
               href="{% url projector_project_sources_browse project.slug file1.changeset.id '' %}"
               title="{% trans "Show changeset" %}">{{ file1.changeset.revision }}:{{ file1.changeset.id }}</a>
            -
            <a class="show-tipsy"
               href="{% url projector_project_sources_browse project.slug file2.changeset.id '' %}"
               title="{% trans "Show changeset" %}">{{ file2.changeset.revision }}:{{ file2.changeset.id }}</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
