{% extends "projector/project/details.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load permissions %}

{% block col_main_extra %}

{% autosort teams %}
{% autopaginate teams %}

<div class="richtemplates-panel">
    <h5>{% trans "Projects' teams" %}</h5>
    <div class="richtemplates-panel-content">

        {% block teams_menu %}
        <ul class="nav-inline">
            <li class="richbuttonset">
                <a class="button-link" href="{{ project.get_teams_url }}">{% trans "Teams" %}</a>
                {% ifhasperm "project_permission.add_team_project" request.user project %}
                <a class="button-link" href="{{ project.get_teams_add_url }}">{% trans "Add new team" %}</a>
                {% endifhasperm %}
            </li>
        </ul>
        {% endblock %}
        
        <table class="datatable">
            <thead class="datatable-thead">
                <tr class="datatable-thead-subheader">
                    <th>{% trans "Team" %}</th>
                    <th>{% trans "Permissions" %}</th>
                </tr>
            </thead>
            <tbody class="datatable-tbody">
                {% for team in teams %}
                <tr class="{% cycle "odd" "even" %} hoverable">
                    <td>{{ team.group }}</td>
                    <td><a class="block-link" href="{{ team.get_absolute_url }}">{% trans "Manage" %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% paginate %}

</div>
</div>
{% endblock %}

