{% extends "projector/project/details.html" %}

{% load i18n %}
{% load richtemplates %}
{% load projector_tags %}

{% if root.is_file %}
    {% block head_css %}{{ block.super }}
    {% endblock %}
{% endif %}

{% block col_main_extra %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's repository browser" %}</h5>
    <div class="richtemplates-panel-content">
    <ul class="nav-inline">
        <li><a class="button-link" href="{{ project.get_browse_repo_url }}">{% trans "Sources" %}</a></li>
        <li><a class="button-link" href="{{ project.get_changesets_url }}">{% trans "Changesets" %}</a></li>
    </ul>    
    <ul class="messages">
        {% for changeset in changesets %}
        <li>{% trans "Revision" %}: {{ changeset }} {% trans "commited at" %}
            {{ changeset.date }} {% trans "by" %} {{ changeset.author }}
            <div class="message message-info show-tooltip" title="{{ changeset.message }}">
                <p>{{ changeset.message|changeset_message:project }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}
