{% extends "projector/project/details.html" %}

{% load i18n %}
{% load richtemplates_tags %}
{% load pagination_tags %}
{% load projector_tags %}

{% if root.is_file %}
    {% block head_css %}{{ block.super }}
    {% endblock %}
{% endif %}

{% block col_main_extra %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's repository browser" %}</h5>
    <div class="richtemplates-panel-content">
    <ul class="nav-inline">
        <li><a class="button-link" href="{{ project.get_browse_repo_url }}">{% trans "Sources" %}</a></li>
        <li><a class="button-link" href="{{ project.get_changesets_url }}">{% trans "Changesets" %}</a></li>
    </ul>    
    
    {% autopaginate repository 10 %}

    {% paginate %}

    <table class="datatable">
        <thead class="datatable-thead">
            <tr class="datatable-thead-subheader lefted">
                <th class="width-5">{% trans "Revision" %}</th>
                <th class="width-15">{% trans "Commited at" %}</th>
                <th class="width-10">{% trans "Author" %}</th>
                <th class="width-55">{% trans "Message" %}</th>
                <th class="width-15">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody class="datatable-tbody">
            {% for changeset in repository %}
            <tr class="{% cycle "odd" "even" %} hoverable">
                <td><a class="browser-changeset block-link"
                       href="#">{{ changeset.revision }}</a></td>
                <td class="show-tipsy" title="{{ changeset.date }}">
                    {{ changeset.date|timesince }} {% trans "ago" %}
                </td>
                <td>{{ changeset.author|tooltip:"15" }}</td>
                <td>{{ changeset.message|changeset_message:project|tooltip:"60" }}</td>
                <td><a class="browser-zoom block-link show-tipsy"
                       href="{% url projector_project_sources_browse project.slug changeset.id '' %}"
                       title="{% trans "Browse revision's content" %}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% paginate %}

</div>
</div>

{% endblock %}
