{% extends "projector/home.html" %}

{% load markup %}
{% load i18n %}
{% load permissions %}
{% load native %}

{% block extra_head %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_project_repository_url').click(function(){
            this.select();
        });
        {% ifhasperm "project_permission.change_project" request.user project %}        
        $('#admin-link').button({
            icons: { primary: "ui-icon-wrench" }
        })
        {% endifhasperm %}
    });
</script>
{% endblock %}

{% block col_left %}{{ block.super }}

<div class="richtemplates-panel">
    <h5>{% trans "Projects' tasks summary" %}</h5>
    <div class="richtemplates-panel-content">
        <table class="datatable centered">
            <caption>{% trans "Open tasks" %}</caption>
            <tr>
                <th colspan="2">{% trans "By assignee" %}</th>
            </tr>
            {% regroup project.get_open_tasks by owner as tasks_by_owner %}
            {% for owner in tasks_by_owner %}
            <tr>
                <td>
                    <a href="{{ owner.grouper.get_absolute_url }}">{{ owner.grouper }}</a>
                </td>
                <td><a href="{{ project.get_task_list_url }}?is_resolved=3&owner={{ owner.grouper.id }}"
                        class="block-link show-tipsy"
                        title="{% trans "Show open tasks for user" %}
                        {{ owner.grouper }}">{{ owner.list|length }}</a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <th colspan="2">{% trans "By status" %}</th>
            </tr>
            {% regroup project.get_open_tasks by status as tasks_by_status %}
            {% for status in tasks_by_status %}
            <tr>
                <td>
                    {{ status.grouper }}
                </td>
                <td><a href="{{ project.get_task_list_url }}?is_resolved=3&status={{ status.grouper.id }}"
                        class="block-link show-tipsy"
                        title="{% trans "Show open tasks with status" %}
                        {{ status.grouper }}">{{ status.list|length }}</a>
                </td>
            </tr>

            {% endfor %}

            <tr>
                <th colspan="2">{% trans "By component" %}</th>
            </tr>
            {% regroup project.get_open_tasks by component as tasks_by_component %}
            {% for component in tasks_by_component %}
            <tr>
                <td>
                    {{ component.grouper }}
                </td>
                <td><a href="{{ project.get_task_list_url }}?is_resolved=3&component={{ component.grouper.id }}"
                        class="block-link show-tipsy"
                        title="{% trans "Show open tasks with component" %}
                        {{ component.grouper }}">{{ component.list|length }}</a>
                </td>
            </tr>

            {% endfor %}

            <tr>
                <th>{% trans "All open tasks" %}</th>
                <th><a href="{{ project.get_task_list_url }}?is_resolved=3"
                        class="block-link">{{ project.get_open_tasks.count }}</a></th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}

{% block col_main_title %}{{ project.name }}{% endblock %}

{% block col_main %}
<div class="richtemplates-panel">
    <h5>{{ project.name }}</h5>
    <div class="richtemplates-panel-content">
        <h1>{{ project.name }}</h1>
        <ul class="nav-inline">
            <li class="richbuttonset"><a class="button-link" href="{{ project.get_absolute_url }}">{% trans "Project details" %}</a></li>
            {% if project.get_repo_url %}
            <li class="richbuttonset"><a class="button-link" href="{{ project.get_browse_repo_url }}">{% trans "Sources" %}</a></li>
            {% endif %}
            <li class="richbuttonset">
                <a class="button-link" href="{{ project.get_milestones_url }}">{% trans "Milestones" %}</a>
                <a class="button-link" href="{{ project.get_task_list_url }}">{% trans "Task list" %}</a>
                <a class="button-link" href="{{ project.get_components_url }}">{% trans "Components" %}</a>
                <a class="button-link" href="{{ project.get_workflow_url }}">{% trans "Workflow" %}</a>
            </li>
            <li class="richbuttonset">
                <a class="button-link" href="{{ project.get_members_url }}">{% trans "Members" %}</a>
                <a class="button-link" href="{{ project.get_teams_url }}">{% trans "Teams" %}</a>
            </li>
        </ul>

        {% ifhasperm "project_permission.change_project" request.user project %}
        <ul class="nav-inline">
            <li class="richbuttonset">
                <a id="admin-link" class="button-link" href="{{ project.get_edit_url }}">{% trans "Admin" %}</a>
            </li>
        </ul>
        {% endifhasperm %}

        {% with project.get_repo_url|put_username_into_url:user as "project_url" %}
        <ul class="messages">
            <li class="message message-info">{% trans "Clone repository" %}:
            <input id="id_project_repository_url" value="hg clone {{ project_url }}"
                size="{{ project.get_repo_url|put_username_into_url:user|length|add:'11' }}"
                onblur="this.value='hg clone {{ project.get_repo_url }}';"/></li>
            {% if "://example.com" in project.get_repo_url %}
            <li class="message message-warning">
                {% trans "Repository URL seems to be broken. Maybe you have forgotten to " %}
                <a href="{% url admin:sites_site_change 1 %}">{% trans "set site" %}</a> {% trans "at admin panel?" %}
            </li>
            {% endif %}
        </ul>
        {% endwith %}
    
    </div>
</div>
    {% block col_main_extra %}
<div class="richtemplates-panel">    
    <h5>{% trans "Project details" %}</h5>
    <div class="richtemplates-panel-content">
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% trans "Project" %}</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Category" %}</th>
                        <td>{{ project.category|default_if_none:"-" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Author" %}</th>
                        <td>{{ project.author }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Visibility" %}</th>
                        <td>
                            {% if project.is_public %}
                            {% trans "Public" %}
                            {% else %}
                            {% trans "Private" %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>{% trans "Description" %}:</h2>
        <div class="block-rst">
            {{ project.description|restructuredtext }}
        </div>

        <h2><a href="{{ project.get_milestones_url }}">{% trans "Roadmap" %}</a>:</h2>
        {% for milestone in project.milestone_set.all %}
        <h3><a href="{{ milestone.get_absolute_url }}">{{ milestone.name }}</a> ({% trans "deadline set to" %} {{ milestone.deadline }})</h3>
        {% include "projector/project/milestones/progress_table.html" %}
        {% empty %}
            <ul class="messages">
                <li class="message message-info">{% trans "No milestones defined yet" %}</li>
            </ul>
        {% endfor %}

        <h2>{% trans "Timeline" %}:</h2>
        <ul class="nav-vertical">
            {% for entry in project.timelineentry_set.all %}
            <li>{{ entry.action }} by {{ entry.user }} at {{ entry.created_at|date:"Y-m-d H:i:s" }}</li>
            {% empty %}
            <li>
                <ul class="messages">
                    <li class="message message-info">{% trans "No timeline entries defined yet" %}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
        
        
    </div>
</div>
    {% endblock col_main_extra %}

{% endblock col_main %}

