{% extends "projector/project/members.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block col_main_extra %}
<div class="richtemplates-panel">
    <h5>{% trans "Add member" %}</h5>
    <div class="richtemplates-panel-content">
        <form action="." method="post">
            {% csrf_token %}
            <table class="form-table">
                {% include "richtemplates/forms/form.html" %}
            </table>
            <div>
                <input id="id_submit" type="submit" name="submit"
                    value="{% trans "Submit" %}"/>
                <input type="button" onclick="window.location='{% spaceless %}
                    {% url projector_project_members project.slug %}
                    {% endspaceless %}'" value="{% trans "Cancel" %}"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

