{% extends "projector/project/details.html" %}

{% load markup %}
{% load i18n %}
{% load permissions %}

{% block col_main_title %}{{ project.name }}{% endblock %}

{% block col_main_extra %}
<div class="richtemplates-panel">    
    <h5>{% trans "Milestone detail" %}</h5>
    <div class="richtemplates-panel-content">
        <ul class="nav-inline">
            <li><a class="button-link" href="{{ milestone.get_edit_url }}">{% trans "Edit" %}</a></li>
            <li><a class="button-link" href="{{ milestone.get_tasks_url }}">{% trans "Show tasks" %}</a></li>
        </ul>
        <div class="richblock">
            <table class="richblock-properties">
                <tbody>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ milestone.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Deadline" %}</th>
                        <td>{{ milestone.deadline }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>{% trans "Description" %}:</h2>
        <div class="block-rst">
            {{ milestone.description|restructuredtext }}
        </div>

        {% include "projector/project/milestone_progress_table.html" %}

    </div>
</div>
{% endblock col_main_extra %}

