{% extends "projector/project/details.html" %}

{% load i18n %}
{% load permissions %}
{% load richtemplates_tags %}

{% block col_main_extra %}

<div class="richtemplates-panel">
    <h5>{% trans "Project's milestones" %}</h5>
    <div class="richtemplates-panel-content">
    <ul class="nav-inline">
        {% ifhasperm "project_permission.change_project" request.user project %}
        <li><a class="button-link" href="{{ project.get_milestones_add_url }}">{% trans "Add milestone" %}</a></li>
        {% endifhasperm %}        
    </ul>    

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort milestone_list %}
    {% autopaginate milestone_list %}

    <table class="datatable">
        <thead class="datatable-thead">
            <tr class="datatable-thead-subheader">
                <th>{% anchor name _("Milestone") %}</th>
                <th>{% anchor task__count _("Tasks") %}</th>
                <th>{% trans "Progress" %}</th>
            </tr>
        </thead>
        <tbody class="datatable-tbody">
            {% for milestone in milestone_list %}
            <tr class="{% cycle "odd" "even" %} hoverable">
                <td><a class="block-link show-tipsy" href="{% url projector_project_milestone_detail project.slug milestone.slug %}"
                        title="{{ milestone.description }}">{{ milestone.name }}</a>
                </td>
                <td><a class="block-link show-tipsy centered"
                        title="{% trans "Show all related tasks" %}"
                        href="{{ project.get_task_list_url }}?milestone={{ milestone.id }}">
                        {{ milestone.task__count }}</a>
                </td>
                <td>

                    {% include "projector/project/milestone_progress_table.html" %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

</div>
</div>

{% endblock %}

