{% extends "projector/project/details.html" %}

{% load markup %}
{% load i18n %}
{% load permissions %}

{% block col_main_title %}{{ project.name }}{% endblock %}

{% block col_main_extra %}
<div class="richtemplates-panel">    
    <h5>{% trans "Workflow schema" %}</h5>
    <div class="richtemplates-panel-content">
        {% block workflow_menu %}
        <ul class="nav-inline">
            <li class="richbuttonset">
                <a  class="button-link"href="{{ project.get_workflow_url }}">{% trans "Workflow" %}</a>
                {% ifhasperm "project_permission.change_project" request.user project %}
                <a  class="button-link"href="{{ project.get_workflow_edit_url }}">{% trans "Edit" %}</a>
                <a  class="button-link"href="{{ project.get_workflow_add_status_url }}">{% trans "Add status" %}</a>
                {% endifhasperm %}
            </li>
        </ul>
        {% endblock %}

        <div class="richblock">
            <ul>
                {% for status in project.status_set.all %}
                <li><span class="bolded">{{ status }}</span>
                    <ul>
                        {% for destination in status.destinations.all %}
                        <li>{{ status }} &rarr; {{ destination }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock col_main_extra %}

